:root {
    --color-primary: #0055FF;
    --color-secondary: #FE4848;
    --color-dark: #1C1B1C;
    --color-dark-light: #2C2D31;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 3rem;
    font-size: 1.2rem;
}

.container {
    background-color: var(--color-dark-light);
    width: 1000px;
    max-width: 100%;
    min-height: 500px;
    text-align: center;
    color: white;
    padding: 3rem;
}

form {
    margin: 2.5rem 0 1rem;
}

form input[type="text"] {
    width: 100%;
    padding: 1rem;
    outline: 0;
    font-size: 1.3rem;
}

form input[type="submit"] {
    margin: 2rem 0;
    padding: 10px 35px;
    background-color: var(--color-primary);
    outline: 0;
    border: 0;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.error-message {
    background-color: var(--color-secondary);
    padding: 8px 15px;
    display: none;
}

h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.display {
    display: inline-block;
}